.collection-hero__text-wrapper {
  flex-basis: 100%;
  height: 18rem;
  margin-top: calc(var(--header-height) + var(--announcement-bar-height));
}

.collection-hero__text-wrapper  h1 {
  font-size: 12rem;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }
}

.collection-hero__title {
  margin: 5rem 0 0;
}

.collection-hero__dot {
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(var(--color-foreground));
  border-radius: 1.5rem;
  margin: 0 3rem;
}

.scroll-text {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: inline-block;
}

.scroll-text__scroll-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  margin: 0;

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 12s linear infinite;
}

.scroll-text__text-wrapper {
  display: flex;
  font-size: 100px;
  align-items: center;
}

.scroll-text__text-wrapper h1 {
  margin: 0;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translateX(-50%);
    /* Browser bug fix */
    -webkit-transform: translateX(-50%);
    /* Browser bug fix */
    transform: translate3d(-50%, 0, 0);
  }
}
